:host nav {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 15px;
}

:host nav a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight: 100;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  column-gap: 10px;
}

:host nav a:first-of-type {
  border-inline-end: 1px solid white;
  padding-inline-end: 30px;
}

:host nav a i {
  display: flex;
}
